.Hero {
    padding: 80px 0px 40px 0px;
}

body {
    margin-left: 2cm !important;
    margin-right: 2cm !important;
}

.float-left {
    float: left;
    margin:25px;
}

.float-right {
    float: right;
    margin: 25px;
}
.para-style{
    margin:25px;
}